{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cardapio - Naioca Doces</title>
    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

    <!-- TOPO -->
    <header class="topo">
        <div class="contato">
            <span>Instagram: @naiocaconfeitaria</span>
            <span>Telefone: (84) 9945-9271</span>
        </div>

        <nav class="menu">
            <a href="{% url 'Naioca:sobre' %}">Sobre</a>
            <a href="{% url 'Naioca:login' %}">Login</a>
            <a href="{% url 'Naioca:cardapio' %}">Cardapio</a>
        </nav>
    </header>

    <main class="cardapio-conteudo">

        <h2> Cardápio de Brownies</h2>

        <hr>

        <h3>Brownies Tradicionais</h3>

        <div class="item">
            <h4> Brownie Clássico — R$ 8,00</h4>
            <p>Massa intensa de chocolate meio amargo, casquinha crocante por cima e interior macio.</p>
        </div>

        <div class="item">
            <h4> Brownie com Ninho — R$ 12,00</h4>
            <p>Brownie tradicional coberto com creme de leite Ninho cremoso.</p>
        </div>
        <br>
        <div class="item">
            <h4> Brownie com Brigadeiro — R$ 12,00</h4>
            <p>Brownie recheado e coberto com Nutella, perfeito para quem ama chocolate com avelã.</p>
        </div>

        <hr>
        <br>
        <div class="item">
            <h4> Brownie de Doce de Leite — R$ 13,00</h4>
            <p>Combinação irresistível de brownie com doce de leite cremoso.</p>
        </div>
        <br>
        <div class="item">
            <h4> Brownie de Oreo — R$ 13,00</h4>
            <p>Brownie com creme branco e pedaços de biscoito Oreo.</p>
        </div>

    </main>

      <!-- RODAPÉ -->
      <footer class="rodape"></footer>


</div>

</body>
</html>