{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Naioca Doces</title>
    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

    <!-- TOPO -->
    <header class="topo">
        <div class="contato">
            <span>Instagram: @naiocaconfeitaria</span>
            <span>Telefone: (84) 9945-9271</span>
        </div>

        <nav class="menu">
            <a href="{% url 'Naioca:sobre' %}">Sobre</a>
            <a href="{% url 'Naioca:login' %}">Login</a>
            <a href="{% url 'Naioca:cardapio' %}">Cardapio</a>
        </nav>
    </header>

    <!-- CONTEÚDO -->
    <main class="login-container">
        <div class="login-box">
            <h1>LOGIN</h1>

            <form method="POST">
                {% csrf_token %}

                <label>Email</label>
                <input type="email" name="email" placeholder="naioca@gmail.com">

                <label>Senha</label>
                <input type="password" name="senha" placeholder="Insira sua senha">
                <br>
                <br>
                <button type="submit">Entrar</button>
            </form>

            <p class="criar-conta">
                Aperte aqui para <u>Criar Conta</u>
            </p>

            <a href="{% url 'Naioca:telainicial' %}" class="botao-voltar">
                Voltar para página inicial
            </a>
        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="rodape"></footer>

</body>
</html>