{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento - Naioca</title>

    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>

<div class="pagamento">
<form method="POST">
{% csrf_token %}

    <!-- TOPO -->
    <div class="topo">
        <h2>Naioca</h2>

        <a href="/Naioca/cardapio/" class="btn-fechar-pagamento">
            ✕
        </a>
    </div>

    <!-- FORMAS DE PAGAMENTO -->
    <div class="botoes-pagamento">

    <button type="button" class="btn-pagamento" data-pagamento="CARTAO">
        Cartão
    </button>

    <button type="button" class="btn-pagamento" data-pagamento="DINHEIRO">
        Dinheiro
    </button>

    <button type="button" class="btn-pagamento" data-pagamento="PIX">
        Pix
    </button>

</div>

<input
    type="hidden"
    name="forma_pagamento"
    id="forma_pagamento">

    <hr>

    <!-- ENDEREÇO -->

    <h1>Endereço</h1>

    <input name="cep" type="text" placeholder="CEP: Ex: 00000-000">

    <input name="rua" type="text" placeholder="Rua: Ex: Rua das Flores, 170">

    <input name="bairro" type="text" placeholder="Bairro: Ex: Felipe Camarão">

    <hr>

    <!-- RESUMO -->

    <h1>Finalização de Pagamento</h1>

    <div class="valor">
    <strong>R$ {{ subtotal }}</strong>
    </div>

    <div class="valor">
        <strong>R$ {{ total }}</strong>
    </div>

    <!-- SEGURANÇA -->

    <div class="seguranca">

        <h3>SEGURANÇA NO PAGAMENTO</h3>

        <p>
            • Faça o pagamento apenas pelos canais oficiais.<br>
            • Confira o nome do beneficiário.<br>
            • Não compartilhamos dados bancários por mensagens.<br>
            • Não envie comprovantes para terceiros.<br><br>

            Em caso de dúvidas, entre em contato conosco.
        </p>

    </div>

    <!-- BOTÕES -->

    <div class="acoes-pagamento">

        <a href="/Naioca/cardapio/" class="btn-continuar">
            Continuar Compra
        </a>

        <button type="submit" class="btn-finalizar">
        Finalizar Compra
        </button>

    </div>

</div>

<!-- PAINEL -->

<div class="painel">

    <div class="card">

        <h2>Selecione a forma</h2>

        <div class="linha">

            <button>Crédito</button>

            <button>Débito</button>

        </div>

    </div>

    <div class="card">

        <h2>Necessita de troco?</h2>

        <input type="text" placeholder="Valor Ex: 00,00">

        <div class="linha">

            <button>Não</button>

            <button>Sim</button>

        </div>

    </div>
</form>
</div>

<script>

const botoes=document.querySelectorAll(".btn-pagamento");

const painel=document.querySelector(".painel");

painel.style.display="none";

botoes.forEach(botao=>{

    botao.onclick=function(){

        botoes.forEach(b=>b.style.background="white");

        botoes.forEach(b=>b.style.color="#99001a");

        this.style.background="#99001a";

        this.style.color="white";
        document.querySelector("#forma_pagamento").value =
        this.dataset.pagamento;
        if(this.innerText=="Cartão"){

            painel.style.display="grid";

        }else if(this.innerText=="Dinheiro"){

            painel.style.display="grid";

            document.querySelector(".card h2").innerText="Necessita de troco?";

        }else{

            painel.style.display="none";

        }

    }

});




</script>

</body>
</html>