{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

<h1>LOGIN</h1>

<label>Email</label>
<input type="email" placeholder="pippo@gmail.com">

<br><br>

<label>Senha</label>
<input type="password" placeholder="Insira sua senha">

<br><br>

<input type="checkbox"> Concordar

<p>Esqueceu senha?</p>

<button>Entrar</button>

<p>
  Aperte aqui para <u>Criar Conta</u>
</p>

<a href="tela_inicial.html">Voltar</a>

</body>
</html>