{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre - Naioca Doces</title>
    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

    <!-- TOPO -->
    <header class="topo">
        <div class="contato">
            <span>Instagram: <A href="https://www.instagram.com/naiocaconfeitaria?igsh=MWFmcTF1cTE3Mnpraw==">@naiocaconfeitaria</A></span>
            <span>Telefone: <a href="https://api.whatsapp.com/send?phone=558499459271&text=Bem%20vindo%20ao%20Naioca">(84) 9945-9271</a></span>
        </div>

        <nav class="menu">
            <a href="{% url 'Naioca:sobre' %}">Sobre</a>
            <a href="{% url 'Naioca:login' %}">Login</a>
            <a href="{% url 'Naioca:cardapio' %}">Cardapio</a>
        </nav>
    </header>

    <!-- CONTEÚDO -->
    <main class="sobre-container">
        <div class="sobre-box">
            <h1>Sobre a Naioca Doces</h1>

            <p>
            Fundada em 2024, a doceria nasceu da coragem, da criatividade e do sonho de um casal empreendedores de apenas 17 anos. O que começou como uma paixão por transformar ingredientes simples em momentos especiais rapidamente se tornou um negócio dedicado a levar sabor, carinho e felicidade para cada cliente.
            Desde o primeiro doce produzido, nosso compromisso sempre foi oferecer produtos artesanais, preparados com ingredientes de qualidade, atenção aos detalhes e muito amor. Cada receita é feita pensando em proporcionar uma experiência única, seja para celebrar uma ocasião especial ou simplesmente adoçar o dia.
            Acreditamos que os sonhos não têm idade. Nossa história é a prova de que dedicação, esforço e paixão podem transformar uma ideia em realidade. Mais do que vender doces, queremos criar memórias, espalhar sorrisos e fazer parte dos momentos mais importantes da vida de nossos clientes.
            </p>

            <h2>Contato</h2>

            <p><strong>Instagram:</strong> <span><A href="https://www.instagram.com/naiocaconfeitaria?igsh=MWFmcTF1cTE3Mnpraw==">@naiocaconfeitaria</A></span></p>
            <p><strong>Telefone:</strong> <a href="https://api.whatsapp.com/send?phone=558499459271&text=Bem%20vindo%20ao%20Naioca">(84) 9945-9271</a></p>

            <a href="{% url 'Naioca:telainicial' %}" class="botao-voltar">
                Voltar para página inicial
            </a>
        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="rodape"></footer>

</body>
</html>