{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sobre</title>
  <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

<h1>Sobre a Naioca Doces</h1>

<p>
  A Naioca Doces é uma confeitaria especializada em bolos no pote
  e sobremesas artesanais, feita com ingredientes de qualidade e muito carinho.
</p>

<h2>Contato</h2>

<p>Email: naioca@gmail.com</p>
<p>Telefone: (84) 4002-8922</p>

<a href="tela_inicial.html">Voltar para página inicial</a>

</body>
</html>