{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Tela Inicial - Naioca Doces</title>
  <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>

</head>
<body>

<header>
  <div>
    Gmail: naioca@gmail.com
    Telefone: (84)40028922
  </div>

  <div>
    <a href="pagina_de_login.html">Login</a> |
    <a href="sobre.html">Sobre</a>
  </div>
</header>

<section>
  {%for item in itens %}
  <div class="card">
    <h3>{{ item.nome }}</h3>
    <p>{{ item.descricao }}</p>
  </div>
  {%endfor%}
 
</section>
  <h3>Adicionar algum detalhe?</h3>
  <textarea rows="4"></textarea>

  <br>
  <button>Finalizar compra</button>
</section>

<script>
function alterar(id, valor){
  let numero = document.getElementById(id);
  let atual = parseInt(numero.innerText);
  atual += valor;

  if(atual < 0){
    atual = 0;
  }

  numero.innerText = atual;
}
</script>

</body>
</html>