{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Naioca Doces</title>
    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

    <!-- TOPO -->
    <header class="topo">
        <div class="contato">
            <span>Instagram: <A href="https://www.instagram.com/naiocaconfeitaria?igsh=MWFmcTF1cTE3Mnpraw==">@naiocaconfeitaria</A></span>
            <span>Telefone: <a href="https://api.whatsapp.com/send?phone=558499459271&text=Bem%20vindo%20ao%20Naioca">(84) 9945-9271</a></span>
        </div>

        <nav class="menu">
            <a href="{% url 'Naioca:sobre' %}">Sobre</a>
            <a href="{% url 'Naioca:login' %}">Login</a>
            <a href="{% url 'Naioca:cardapio' %}">Cardapio</a>
        </nav>
    </header>
    <!-- LOGO CENTRAL -->
    <main class="inicio">
        <div class="logo-container">
            <img src="{% static 'Naioca/img/logo.png' %}" class="Logo Naioca">
        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="rodape"></footer>

<script>
function alterar(id, valor){
  let numero = document.getElementById(id);
  let atual = parseInt(numero.innerText);
  atual += valor;

  if(atual < 0){
    atual = 0;
  }

  numero.innerText = atual;
}
</script>

</body>
</html>