{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Naioca Doces</title>
    <link rel="stylesheet" href="{% static 'Naioca/css/style.css' %}">
</head>
<body>

    <!-- TOPO -->
    <header class="topo">
        <div class="contato">
            <span>Gmail: naioca@gmail.com</span>
            <span>Telefone: (84) 4002-8922</span>
        </div>

        <nav class="menu">
            <a href="{% url 'Naioca:sobre' %}">Sobre</a>
            <a href="{% url 'Naioca:login' %}">Login</a>
            <a href="#">Menu</a>
        </nav>
    </header>

    <!-- LOGO CENTRAL -->
    <main class="inicio">
        <div class="logo-container">
            <img src="{% static 'Naioca/img/logo.png' %}" alt="Logo Naioca">
        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="rodape"></footer>

</body>
</html>